<div class="notice"></div>

<div class="row country-info">
  <div id="show_countries_sidebar">
  </div>
  <div id="show_countries">
  </div>
  <div id="show_projects">
  </div>
</div>

<div id="all_countries" class="col-sm-3">
    <% if @countries.any? %>
      <% @countries.each do |country| %>
        <h3><%= link_to country.c_name, country_path(country), remote: true %></h3>
        <% if country.image %>
          <%= image_tag (country.image), class:"country-image" %>
        <% else  %>
          <%= image_tag country.attached_image.url(:medium) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<div class="col-sm-9 map">
<div class="container-fluid map-wrapper">
  <div class="row">
    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        northern-south america
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        northern-south america
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>
    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>
    <div class="empty-grid col-xs-2 ecuador">
      <p>
        ECUADOR
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>

    <div class="empty-grid col-xs-2">
      <p>
        hi
      </p>
    </div>
  </div>
</div>
</div>
