/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding-top: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  min-height: 100%;
}

a{
  color:#da963a;
}

a:hover{
  text-decoration:none;
  font-weight:bold;
  color:#da963a;

}

.country-image{
  width: 200px;
  border-radius:10px;
}

.project-image{
  width: 200px;
}

.thumbnail{
  width: 70px;
}



#show_countries_sidebar{
  padding-top:50px;
}

.sidebar{
  .thumbnail{
    height:auto;
    margin:0 auto;
  }
  text-align:center;
  margin:0 auto;

}

#all_countries{
  text-align:center;

}

.project-image-large{
  width:300px;
}

.project{
  text-align:center;
}

html {
  height: 100%
}

.empty-grid {
  background-color: transparent;
  height: 160px;
  width: 20%;
  border: 1px solid yellow;
}

.map-wrapper {
  background: url(map.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flash{
  margin:10px;
}

.admin-well{
  font-size:15px;
  color:white;
  padding:10px;
  text-align:center;
  margin:0 auto;
  width:50%;
  background-color:#72bcc2;
  a{
    font-size:15px;
    color:white;
  }
}

.logo{
  width:100px;
  border:none;
}

.navbar{
  background-color:#f8af53;
}

.content{
  padding-top:50px;
}

.navbar-default .navbar-nav > li > a {
  padding-top:35px;
  font-size:15px;
  &:hover{
    color:grey;
  }
}

.navbar-brand{
  padding-top:35px;
  font-size:35px;
  font-family: 'Dancing Script', cursive;
}

.navbar-default .navbar-brand {
    color: #cf2828;
}

.header{
  text-align:center;
  font-size:20px;
}

.country-info{
  display:none;
}

.country-well{
  width:60%;
}
